<html>
  <head>
    <title>Simple App</title>
  </head>
  <body>
    <div id="view">
    </div>
    <script type="text/javascript" src="/js/aviator.js"></script>
    <script type="text/javascript" src="/js/reqwest.js"></script>
    <script type="text/javascript" src="/js/react.js"></script>
    <script type="text/javascript" src="/js/simple_app.min.js"></script>
    <script type="text/javascript">
      var app = new App();
      var contentNode = document.querySelector('#view');

      app.start();
    </script>
  </body>
</html>
